@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

#stylish {
  font-family: 'Qwitcher Grypen', cursive;
}

#skills {
  width: 40px;
  height: 40px;
  object-fit: contain; 
}
